<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Database interface</title>
        <style>

        </style>
    </head>

    <body>
        <div class="title">
            <img class="logo" src="/NaoNexus/ChallengeNaoNexus25/coding/server/py3/static/img/logo_nao_darkblue_scritta.jpg">
            <h1>Database interface.</h1>
            <h3>Add injury type:</h3>
            <input class="form" type="text" placeholder="Injury name">
            <input class="form"type="text" placeholder="Recovery method">
            <input class="form" type="text" placeholder="Recovery time">
            <button class="enter">Enter</button>
            <h3>Add player:</h3>
            <input class="form" type="text" placeholder="Player name">
            <button class="enter">Enter</button>
            <h3>Add injury to a player:</h3>
            <input class="form" type="text" placeholder="Player name">
            <input class="form"type="text" placeholder="Injury name">
            <button class="enter">Enter</button>
        </div>
    </body>
</html>