<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NAO Retail</title>
    </head>

    <body>
       <h2>API</h2>
        <ul>
            <li><a href="/api/info">/api/info</a></li>
        </ul>
        <h2>SERVICES</h2>
        <ul>
            <li><a href="/nao_stand/{'nao_ip':'192.168.0.118','nao_port':9559}">/nao_stand</a></li>
            <li><a href="/nao_webcam/{'nao_ip':'192.168.0.138','nao_port':9559,'face_detection':True}">/nao_webcam</a></li>
        </ul>
    </body>
</html>